In [1]:
#Exercise 1: Create a function in Python
#Write a program to create a function that takes two arguments, name and age, and print their value.

In [2]:
def my_func(name,age):
    return(name,age)

In [3]:
my_func("saurav",23)

('saurav', 23)

In [4]:
#Exercise 2: Create a function with variable length of arguments.
#Write a program to create function func1() to accept a variable length of arguments and print
#their value.
#Note: Create a function in such a way that we can pass any number of arguments to this function 
#and the function should process them and display each argument’s value.

In [5]:
def func_1(*args):
    print(args)

In [6]:
func_1(85,"saurav",78.36)

(85, 'saurav', 78.36)

In [8]:
func_1(65,"Ramesh",58)

(65, 'Ramesh', 58)

In [9]:
#Exercise 3: Return multiple values from a function
#Write a program to create function calculation() such that it can accept two variables and calculate
#addition and subtraction. Also, it must return both addition and subtraction in a single return call.
#Given:
#def calculation(a, b):
#res = calculation(40, 10)
#print(res)

In [11]:
def calculation(a,b):
    addition=a+b
    substraction=a-b
    return addition,substraction

In [12]:
calculation(40,10)

(50, 30)

In [13]:
#Exercise 4: Create a function with default argument
#write a program to create a function show_employee() using the following conditions.
#
#It should accept the employee’s name and salary and display both.
#If the salary is missing in the function call then assign default value 9000 to salary
#See: Default arguments in function
#
#Given:
#
#showEmployee("Ben", 12000)
#showEmployee("Jessa")

In [14]:
def show_employee(name,salary=9000):
    return(name,salary)

In [15]:
show_employee("Ben",12000)

('Ben', 12000)

In [16]:
show_employee("Jessa")

('Jessa', 9000)

In [17]:
#Exercise 5: Create an inner function to calculate the addition in the following way
#Create an outer function that will accept two parameters, a and b
#Create an inner function inside an outer function that will calculate the addition of a and b
#At last, an outer function will add 5 into addition and return it

In [1]:
def addition(a,b):
    return (a+b)+5

addition(5,10)

20

In [21]:
#Exercise 7: Assign a different name to function and call it through the new name
#Below is the function display_student(name, age). Assign a new name show_tudent(name, age) to it 
#and call it using the new name.
#
#Given:
#
#def display_student(name, age):
#    print(name, age)
#
#display_student("Emma", 26)

In [23]:
def show_student(name,age):
    return(name,age)

In [26]:
display_student=show_student("Emma",26)

In [27]:
display_student

('Emma', 26)

In [28]:
#Exercise 8: Generate a Python list of all the even numbers between 4 to 30
#Expected Output:
#
#[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [30]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [31]:
#Exercise 9: Find the largest item from a given list
#x = [4, 6, 8, 24, 12, 2]
#Expected Output:
#
#24

In [34]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

In [21]:
#Exercise 6: Create a recursive function
#Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.
#
#A recursive function is a function that calls itself, again and again.

In [24]:
def additon(num):
    if  num:
        return addition + num (num-1)
    else:
        return 0

In [25]:
addition(10)

55

In [23]:
# look in code if enter num 10 okay num+addition(num-1) here when you enter 10 after that 
# addition(num-1) here the 9 will get for decreasing function purpose we use like loop.

In [26]:
# Student Of Data Science
# Student Of Data Traines -  Saurav
# Date-24-june-2022